.addresses{
    width: 100%;
    padding: 20px;
    background: white;
}
.address-all{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.single-address{
    width: 49%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}
.single-address-btns{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.single-address-btn-left{
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.single-address-inner{
    width: 15px;
    height: 15px;
    background: green;
    border-radius: 50%;
}
.single-address-container{
    margin: 30px 0 0 0;
}
.single-address-line{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.single-address-left{
    width: 48%;
}
.single-address-middle{
    width: 4%;
    text-align: center;
}
.single-address-right{
    width: 48%;
    text-align: right;
}
.add-new-address{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    cursor: pointer;
    margin-top: 20px;
    background: white;
}
.dropdown{
    z-index: 2;
}
.dropdown button{
    padding: 5px 0 !important;
}
.dropdown button::after{
    display: none;
}

.delivery-info-container{
    margin: 10px 0;
    background: white;
    display: flex;
    align-items: center;
    height: 75px;
}

.delivery-info-btns{
    width: 100%;
    text-align: right;
}


.payment-methods{
    display: flex;
    padding: 0 15%;
    align-items: center;
    justify-content: space-between;
}
.single-payment-method{
    width: 32%;
    text-align: center;
    border: 1px solid rgb(205, 201, 201);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
.single-payment-method.active{
    border: 2px solid green;
}
.single-payment-logo{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.single-payment-method img{
    height: 100px;
}
.payment-input-container{
    background: white;
    padding: 10px 20px;
}
.payment-details-line{
    display: flex;
}
.payment-line-middle{
    padding: 0 20px;
}
.payment-line-left{
    width: 20%;
}
.payment-line-right a{
    text-decoration: underline !important;
    color: blue !important;
}
.payment-item-line.title{
    background: #eaeaeb;
}
.payment-item-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 20px;
}

.payment-items-all-details{
    background: #eaeaeb;
    width: 100%;
}
.confirm-other-details{
    padding: 0 20px;
}